<div id="fondo">
  <div id="main">
    
    <!-- Contenido Principal -->
    <div  id="presentacion" class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>¡Encuentra Tu Mascota!</h1>
          <p>
            Ayudanos a reunir mascotas perdidas con sus dueños, reportar <br>
            hallazgos y dar en adopción.
          </p>
        </div>
      </div>




    </div>

    <!--SECCIONES-->
    <div id="menuPrincipal">
      <div class="row row-cols-3">
        <div id="perdida" class="card .col" routerLink="/perdida">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Reporta la pérdida de tu mascota</p>
          </div>
        </div>

        <div id="hallazgo" class="card .col" routerLink="/hallazgo">
          <div class="card-body">
            <i class="fa-solid fa-paw"></i>
            <h5 class="card-title"></h5>
            <p class="card-text">Reporta el hallazgo de tu mascota</p>
          </div>
        </div>

        <div id="adopciones" class="card .col" routerLink="/adopciones">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Conoce mascotas que buscan un hogar</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="campañas" class="card .col" routerLink="/campañas">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Informate acerca de las vacunaciones, castraciones y colectas que llevamos a cabo</p>
          </div>
        </div>

        <div id="explorar" class="card .col" routerLink="/explorar">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Ve la lista completa de mascotas reportadas y encuentra la tuya</p>
          </div>
        </div>

        <div id="reencuentros" class="card .col" routerLink="/reencuentros">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Conoce las historias de reencuentros a través de la página</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>