<div id="fondo">
  <button class="btn btn-primary" style="margin-left: 15px;" routerLink="/inicio">Volver</button>
  <div id="main" class="row">

<div class="card text-center mb-3 row" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
         <img src="..." class="card-img-top" alt="...">
  </div>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center mb-3 row" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
         <img src="..." class="card-img-top" alt="...">
  </div>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center mb-3 row" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
         <img src="..." class="card-img-top" alt="...">
  </div>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center mb-3 row" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
         <img src="..." class="card-img-top" alt="...">
  </div>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
</div>